In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\delkl\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\delkl\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\delkl\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\delkl\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\delkl\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\delkl\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\delkl\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\delkl\anaconda3\lib\site-packages (from requests) (2.10)

# Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [7]:
from bs4 import BeautifulSoup
import requests

page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup=BeautifulSoup(page.content)
header=soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
for i in header:
    print(i)

<h1 class="firstHeading" id="firstHeading">Main Page</h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>
<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>
<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>
<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>
<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>
<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>
<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>
<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [102]:
from bs4 import BeautifulSoup
import requests

In [137]:
imdb=requests.get('https://www.imdb.com/list/ls091520106/')
soup=BeautifulSoup(imdb.content)
Name=soup.find_all('h3',class_='lister-item-header')
movie_name=[]
for i in Name:
    for j in i.find_all('a'):
        movie_name.append(j.text.replace('\n',''))
movie_name

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [113]:
Rating=soup.find_all('div',class_='ipl-rating-star small')
movie_rating=[]
for i in Rating:
    movie_rating.append(i.text.replace('\n',''))
movie_rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [110]:
len(movie_name)

100

In [114]:
len(movie_rating)

100

In [118]:
YOR=soup.find_all('span',class_='lister-item-year text-muted unbold')
Year_of_release=[]
for i in YOR:
    Year_of_release.append(i.text)
Year_of_release

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [119]:
len(Year_of_release)

100

In [132]:
import pandas as pd
movies=pd.DataFrame({})
movies['Name']=movie_name
movies['Rating']=movie_rating
movies['YOR']=Year_of_release

In [133]:
movies

                                   Name Rating     YOR
0              The Shawshank Redemption    9.3  (1994)
1                         The Godfather    9.2  (1972)
2                The Godfather: Part II      9  (1974)
3                       The Dark Knight      9  (2008)
4                          12 Angry Men      9  (1957)
..                                  ...    ...     ...
95                   North by Northwest    8.3  (1959)
96                   A Clockwork Orange    8.3  (1971)
97                               Snatch    8.3  (2000)
98  Le fabuleux destin d'Amélie Poulain    8.3  (2001)
99                              The Kid    8.3  (1921)

[100 rows x 3 columns]

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [139]:
from bs4 import BeautifulSoup
import requests

imdb1=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
soup=BeautifulSoup(imdb1.content)
Name1=soup.find_all('td',class_='titleColumn')
movies_name=[]
for i in Name1:
    for j in i.find_all('a'):
        movies_name.append(j.text.replace('\n',''))
movies_name

['Nayakan',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'C/o Kancharapalem',
 'Golmaal',
 'Pather Panchali',
 'Apur Sansar',
 'Manichitrathazhu',
 'Kireedam',
 'Natsamrat',
 '96',
 'Thevar Magan',
 'Black Friday',
 'Kumbalangi Nights',
 'Visaaranai',
 '3 Idiots',
 'Drishyam 2',
 'Soorarai Pottru',
 'Jersey',
 'Taare Zameen Par',
 'Thalapathi',
 'Asuran',
 'Dangal',
 'Kaithi',
 'Ratsasan',
 'Devasuram',
 'Aparajito',
 'Sarpatta Parambarai',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Vada Chennai',
 'Peranbu',
 'Guide',
 'Thani Oruvan',
 'Kannathil Muthamittal',
 'Iruvar',
 'Chupke Chupke',
 'Spadikam',
 'Agent Sai Srinivasa Athreya',
 'Super Deluxe',
 'Drishyam',
 'Mahanati',
 'Aruvi',
 'Vikram Vedha',
 'Tumbbad',
 'Khosla Ka Ghosla!',
 'Pudhu Pettai',
 'Premam',
 'Anniyan',
 'Anand',
 'Kaakkaa Muttai',
 'Mudhalvan',
 'Bangalore Days',
 'Papanasam',
 'Satya',
 'Dhuruvangal Pathinaaru',
 'Andhadhun',
 'Soodhu Kavvum',
 'Shahid',
 'Jigarthanda',
 'Gangs of Wasseypur',
 'Pithamagan',
 'Paan Singh Tomar',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Sairat',
 'Talvar',
 'Sholay',
 'Swades: We, the People',
 'Chak De! India',
 'Ustad Hotel',
 'Black',
 'Drishyam',
 'Zindagi Na Milegi Dobara',
 'Jo Jeeta Wohi Sikandar',
 'Mughal-E-Azam',
 'Maheshinte Prathikaaram',
 'Nil Battey Sannata',
 'Udaan',
 'Charulata',
 'Theeran adhigaaram ondru',
 'Article 15',
 'A Wednesday',
 'Queen',
 'Masaan',
 'Munna Bhai M.B.B.S.',
 'Alai Payuthey',
 'Sarfarosh',
 'Baasha',
 'Dil Chahta Hai',
 'OMG: Oh My God!',
 'Chhichhore',
 'Roja',
 'Rang De Basanti',
 'Virumandi',
 'Andaz Apna Apna',
 'Lagaan: Once Upon a Time in India',
 'Kahaani',
 'Uri: The Surgical Strike',
 'PK',
 'Lucia',
 'Iqbal',
 'The Legend of Bhagat Singh',
 'Barfi!',
 'Bommarillu',
 'Pink',
 'Maqbool',
 'Bombay',
 'Section 375',
 'Omkara',
 'Indian',
 'The Great Indian Kitchen',
 'Lage Raho Munna Bhai',
 'Thadam',
 'Pelli Choopulu',
 'Baahubali 2: The Conclusion',
 'Deewaar',
 'Pranchiyettan and the Saint',
 'Naduvula Konjam Pakkatha Kaanom',
 'Padosan',
 'Gulaal',
 'Haider',
 'Rangasthalam',
 'Athadu',
 'Dilwale Dulhania Le Jayenge',
 'Take Off',
 'Thondimuthalum Dhriksakshiyum',
 'Padayappa',
 'Ugly',
 'Mother India',
 'Aadukalam',
 'Special Chabbis',
 'K.G.F: Chapter 1',
 'Vaaranam Aayiram',
 'Ulidavaru Kandanthe',
 'Ship of Theseus',
 'Dev.D',
 'Badhaai ho',
 'Malik',
 'Bajrangi Bhaijaan',
 'Gully Boy',
 'Jalsaghar',
 'Vaastav: The Reality',
 'Deiva Thirumagal',
 'Ankhon Dekhi',
 'Mukkabaaz',
 'Vedam',
 'Company',
 'Manjhi: The Mountain Man',
 'Arjun Reddy',
 'Pizza',
 'Karnan',
 'Charlie',
 'My Name Is Khan',
 'Memories',
 'Dil Bechara',
 'Kal Ho Naa Ho',
 'Jab We Met',
 'Mumbai Police',
 'Vinnaithaandi Varuvaayaa',
 'Angamaly Diaries',
 'Border',
 'Super 30',
 'Unnaipol Oruvan',
 'Kaakha..Kaakha: The Police',
 'Poove Unakkaga',
 'Padman',
 'Bãhubali: The Beginning',
 'Sonchiriya',
 'Lakshya',
 'Vettaiyaadu Vilaiyaadu',
 'Dor',
 'Hey Ram',
 'Ayyappanum Koshiyum',
 'Baby',
 'Anjaam Pathiraa',
 'Airlift',
 'Thulladha Manamum Thullum',
 'Hindi Medium',
 'English Vinglish',
 'Okkadu',
 'Gangaajal',
 'The Lunchbox',
 'Manam',
 'Johnny Gaddaar',
 'Ab Tak Chhappan',
 'Joji',
 'Badla',
 'Pokiri',
 'Secret Superstar',
 'M.S. Dhoni: The Untold Story',
 'Vicky Donor',
 'Nayak: The Real Hero',
 'Mr. India',
 'Stanley Ka Dabba',
 'Raazi',
 'Udta Punjab',
 'Goodachari',
 'Don',
 'RangiTaranga',
 'Rock On!!',
 'Veer-Zaara',
 'Velaiilla Pattadhari',
 'Aligarh',
 'Ko',
 'Dasvidaniya',
 'Thuppakki',
 'Guru',
 'Arya',
 'Samsara',
 'Kai po che!',
 'Kaththi',
 'Oye Lucky! Lucky Oye!',
 '24',
 'Ghilli',
 'Mumbai Meri Jaan',
 'Rockstar',
 'Eega',
 'Avane Srimannarayana',
 'C U Soon',
 'Kabhi Haan Kabhi Naa',
 'Darr',
 'Kapoor & Sons',
 'Newton',
 'Sir',
 'Ugramm',
 'State of Siege: Temple Attack',
 'Aamir',
 'The Tashkent Files',
 'Earth',
 'Madras Cafe',
 'Agneepath',
 'Sarkar',
 'Detective Byomkesh Bakshy!',
 'Bheja Fry',
 'Neerja',
 'Pyaar Ka Punchnama',
 'Kannum Kannum Kollaiyadithaal',
 'Highway',
 'Magadheera',
 'Baazigar',
 '1 - Nenokkadine',
 'Tanu Weds Manu Returns',
 'Manorama: Six Feet Under',
 'Saala Khadoos',
 'Piku',
 'Wake Up Sid',
 'Ludo',
 'Dhruva',
 'Geetha Govindam']

In [140]:
Rating1=soup.find_all('td',class_='ratingColumn imdbRating')
movies_rating=[]
for i in Rating1:
    movies_rating.append(i.text.replace('\n',''))
movies_rating

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.5']

In [141]:
Y_O_R=soup.find_all('span',class_='secondaryInfo')
Year_of_release1=[]
for i in Y_O_R:
    Year_of_release1.append(i.text)
Year_of_release1

['(1987)',
 '(2018)',
 '(2003)',
 '(2018)',
 '(1979)',
 '(1955)',
 '(1959)',
 '(1993)',
 '(1989)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2004)',
 '(2019)',
 '(2015)',
 '(2009)',
 '(2021)',
 '(2020)',
 '(2019)',
 '(2007)',
 '(1991)',
 '(2019)',
 '(2016)',
 '(2019)',
 '(2018)',
 '(1993)',
 '(1956)',
 '(2021)',
 '(1983)',
 '(1957)',
 '(2018)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1997)',
 '(1975)',
 '(1995)',
 '(2019)',
 '(2019)',
 '(2013)',
 '(2018)',
 '(2016)',
 '(2017)',
 '(2018)',
 '(2006)',
 '(2006)',
 '(2015)',
 '(2005)',
 '(1971)',
 '(2014)',
 '(1999)',
 '(2014)',
 '(2015)',
 '(1998)',
 '(2016)',
 '(2018)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2012)',
 '(2003)',
 '(2012)',
 '(2013)',
 '(2000)',
 '(2016)',
 '(2015)',
 '(1975)',
 '(2004)',
 '(2007)',
 '(2012)',
 '(2005)',
 '(2015)',
 '(2011)',
 '(1992)',
 '(1960)',
 '(2016)',
 '(2015)',
 '(2010)',
 '(1964)',
 '(2017)',
 '(2019)',
 '(2008)',
 '(2013)',
 '(2015)',
 '(2003)',
 '(2000)',
 '(1999)',
 '(1995)',
 '(2001)',
 '(2012)',
 '(2019)',
 '(1992)',
 '(2006)',
 '(2004)',
 '(1994)',
 '(2001)',
 '(2012)',
 '(2018)',
 '(2014)',
 '(2013)',
 '(2005)',
 '(2002)',
 '(2012)',
 '(2006)',
 '(2016)',
 '(2003)',
 '(1995)',
 '(2019)',
 '(2006)',
 '(1996)',
 '(2021)',
 '(2006)',
 '(2019)',
 '(2016)',
 '(2017)',
 '(1975)',
 '(2010)',
 '(2012)',
 '(1968)',
 '(2009)',
 '(2014)',
 '(2018)',
 '(2005)',
 '(1995)',
 '(2017)',
 '(2017)',
 '(1999)',
 '(2013)',
 '(1957)',
 '(2011)',
 '(2013)',
 '(2018)',
 '(2008)',
 '(2014)',
 '(2012)',
 '(2009)',
 '(2018)',
 '(2021)',
 '(2015)',
 '(2019)',
 '(1958)',
 '(1999)',
 '(2011)',
 '(2013)',
 '(2017)',
 '(2010)',
 '(2002)',
 '(2015)',
 '(2017)',
 '(2012)',
 '(2021)',
 '(2015)',
 '(2010)',
 '(2013)',
 '(2020)',
 '(2003)',
 '(2007)',
 '(2013)',
 '(2010)',
 '(2017)',
 '(1997)',
 '(2019)',
 '(2009)',
 '(2003)',
 '(1996)',
 '(2018)',
 '(2015)',
 '(2019)',
 '(2004)',
 '(2006)',
 '(2006)',
 '(2000)',
 '(2020)',
 '(2015)',
 '(2020)',
 '(2016)',
 '(1999)',
 '(2017)',
 '(2012)',
 '(2003)',
 '(2003)',
 '(2013)',
 '(2014)',
 '(2007)',
 '(2004)',
 '(2021)',
 '(2019)',
 '(2006)',
 '(2017)',
 '(2016)',
 '(2012)',
 '(2001)',
 '(1987)',
 '(2011)',
 '(2018)',
 '(2016)',
 '(2018)',
 '(1978)',
 '(2015)',
 '(2008)',
 '(2004)',
 '(2014)',
 '(2015)',
 '(2011)',
 '(2008)',
 '(2012)',
 '(2007)',
 '(2004)',
 '(2001)',
 '(2013)',
 '(2014)',
 '(2008)',
 '(2016)',
 '(2004)',
 '(2008)',
 '(2011)',
 '(2012)',
 '(2019)',
 '(2020)',
 '(1994)',
 '(1993)',
 '(2016)',
 '(2017)',
 '(2018)',
 '(2014)',
 '(2021)',
 '(2008)',
 '(2019)',
 '(1998)',
 '(2013)',
 '(1990)',
 '(2005)',
 '(2015)',
 '(2007)',
 '(2016)',
 '(2011)',
 '(2020)',
 '(2014)',
 '(2009)',
 '(1993)',
 '(2014)',
 '(2015)',
 '(2007)',
 '(2016)',
 '(2015)',
 '(2009)',
 '(2020)',
 '(2016)',
 '(2018)']

In [142]:
import pandas as pd
movies1=pd.DataFrame({})
movies1['Name1']=movies_name
movies1['Rating1']=movies_rating
movies1['Y_O_R']=Year_of_release1

In [143]:
movies1

                 Name1 Rating1   Y_O_R
0              Nayakan     8.5  (1987)
1    Pariyerum Perumal     8.5  (2018)
2           Anbe Sivam     8.5  (2003)
3    C/o Kancharapalem     8.5  (2018)
4              Golmaal     8.5  (1979)
..                 ...     ...     ...
245               Piku     7.6  (2015)
246        Wake Up Sid     7.6  (2009)
247               Ludo     7.6  (2020)
248             Dhruva     7.6  (2016)
249    Geetha Govindam     7.5  (2018)

[250 rows x 3 columns]

# Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [21]:
from bs4 import BeautifulSoup
import requests

book=requests.get('https://bookpage.com/reviews')
soup=BeautifulSoup(book.content)
Book=soup.find_all('h4',class_='italic')
book_titles=[]
for i in Book:
    book_titles.append(i.text.replace('\n',''))
book_titles

['Being Clem',
 ' ★ How to Find Your Way in the Dark',
 'Hold Fast Through the Fire',
 'A Good Day for Chardonnay',
 'All’s Well',
 ' ★ A Farewell to Gabo and Mercedes',
 ' ★ Summer Fun',
 ' ★ Sugar Town Queens',
 'We Are Each Other’s Harvest',
 ' ★ Dead Wednesday']

In [8]:
Author=soup.find_all('p',class_='sans bold')
author_names=[]
for i in Author:
    author_names.append(i.text.replace('\n',''))
author_names

['Lesa Cline-Ransome',
 'Derek B. Miller',
 'K.B. Wagers',
 'Darynda Jones',
 'Mona Awad',
 'Rodrigo García',
 'Jeanne Thornton',
 'Malla Nunn',
 'Natalie Baszile, Tina Lifford',
 'Jerry Spinelli']

In [10]:
Genre=soup.find_all('p',class_='genre-links hidden-phone')
genre_names=[]
for i in Genre:
    genre_names.append(i.text.replace('\n',''))
genre_names

["Children's / Middle Grade",
 'Fiction / Coming of Age',
 'Science Fiction & Fantasy / Science Fiction',
 'Mystery & Suspense / Mystery',
 'Fiction / Literary Fiction',
 'Nonfiction / Memoir / Family & Relationships',
 'Fiction / Literary Fiction',
 'YA / YA Fiction',
 'Audio / Nonfiction / African American History',
 "Children's / Middle Grade"]

In [15]:
Review=soup.find_all('p',class_='excerpt')
review_names=[]
for i in Review:
    review_names.append(i.text.replace('\n',''))
review_names

['',
 'The ending of How to Find Your Way in the Dark is nothing short of brilliant, making a powerful statement about the need to fully address antisemitism.',
 '',
 '',
 'Like Shakespeare’s eponymous work, there’s pathos and humor in this story of how we suffer and the ways in which we’re healed.',
 'When Gabriel García Márquez began his long slide toward dementia, his son began taking notes for this intimate, endearing tribute to his late parents.',
 'This is a heartbreaking yet hopeful addition to the growing canon of literature that celebrates the complexity of trans lives.',
 '',
 'With rich descriptions of crops, recipes, family meals and more, this audiobook inspires, empowers and enlightens through spoken word.',
 '']

In [17]:
import pandas as pd
books=pd.DataFrame({})
books['Book']=book_titles
books['Author']=author_names
books['Genre']=genre_names
books['Review']=review_names

In [18]:
books

,Book,Author,Genre,Review
0,Being Clem,Lesa Cline-Ransome,Children's / Middle Grade,
1,★ How to Find Your Way in the Dark,Derek B. Miller,Fiction / Coming of Age,The ending of How to Find Your Way in the Dark...
2,Hold Fast Through the Fire,K.B. Wagers,Science Fiction & Fantasy / Science Fiction,
3,A Good Day for Chardonnay,Darynda Jones,Mystery & Suspense / Mystery,
4,All’s Well,Mona Awad,Fiction / Literary Fiction,"Like Shakespeare’s eponymous work, there’s pat..."
5,★ A Farewell to Gabo and Mercedes,Rodrigo García,Nonfiction / Memoir / Family & Relationships,When Gabriel García Márquez began his long sli...
6,★ Summer Fun,Jeanne Thornton,Fiction / Literary Fiction,This is a heartbreaking yet hopeful addition t...
7,★ Sugar Town Queens,Malla Nunn,YA / YA Fiction,
8,We Are Each Other’s Harvest,"Natalie Baszile, Tina Lifford",Audio / Nonfiction / African American History,"With rich descriptions of crops, recipes, fami..."
9,★ Dead Wednesday,Jerry Spinelli,Children's / Middle Grade,

# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

# i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [5]:
from bs4 import BeautifulSoup
import requests

icc=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(icc.content)
Team=soup.find_all('td',class_='table-body__cell rankings-table__team')
team_titles=[]
for i in Team:
    for j in i.find_all('span',class_='u-hide-phablet'):
        team_titles.append(j.text.replace('\n',''))
team_titles

['England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea']

# Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [101]:
from bs4 import BeautifulSoup
import requests

page1=requests.get('https://internshala.com/fresher-jobs')
soup=BeautifulSoup(page1.content)
Titles=soup.find_all('div',class_='heading_4_5 profile')
job_titles=[]
for i in Titles:
    job_titles.append(i.text.replace('\n',''))
job_titles

['Sales Manager/Omni Sport Leader - Retail ',
 'Business Development Executive ',
 'MERN Stack Developer ',
 'Conversion Rate Optimization Analyst ',
 'Client Service Executive ',
 'Sales Development Representative ',
 'Corporate Sales Associate ',
 'International Business Development Executive ',
 'Product Marketer ',
 'Customer Support Associates ',
 'Content & Customer Care Executive ',
 'Django Developer ',
 'Reactjs Developer ',
 'Web Development Trainee ',
 'Business Development Executive ',
 'Cybersecurity Compliance Officer ',
 'MERN Stack Developer ',
 'Senior Copywriter ',
 'Corporate Sales Associate ',
 'Digital Marketing Associate ',
 'Social Media Marketing Executive ',
 'Business Development Executive ',
 'Operations Manager ',
 'Lead Counselor ',
 'Angular.js Developer ',
 'Digital Marketing Specialist ',
 'Franchise Manager - Sales (Assistant Manager ) ',
 'Graphic Designer ',
 'Project Associate ',
 'Business Development Manager ',
 'Associate Recruiter ',
 'Inside Sales Specialist ',
 'QA Tester ',
 'Social Media Marketing Specialist ',
 'Sales Executive ',
 'Data & BI Consultant ',
 'Full Stack Developer ',
 'Business Development Executive ',
 'Learning Counselor - Sales ',
 'Program Impact Incharge (Academics) ']

In [87]:
Company=soup.find_all('a',class_='link_display_like_text')
companies=[]
for i in Company:
    companies.append(i.text.replace('\n','').strip())
companies

['Decathlon Sport India Private Limited',
 'Padhhigh',
 'Snippt',
 'DataVinci Private Limited',
 'Red Tree Design Studio Private Limited',
 'HelloAR',
 'Best Roadways Limited',
 'Advids',
 'Habitate Technologies Private Limited',
 'Recruit CRM',
 'Revo International LLP',
 'Startxlabs Technologies Private Limited',
 'Startxlabs Technologies Private Limited',
 'Softsensor.ai',
 'Verzeo',
 'S3 Infosoft',
 'Binary Numbers',
 'Ranksoldier International Private Limited',
 'MiM-Essay',
 'BubbleNut Wash',
 'Erikka India',
 'Cosmic Micro Systems Private Limited',
 'Kumi Labs',
 'HOSS - House Of Soft Skills',
 'Systaldyn Consultancy Private Limited',
 'Sahadya Consultants',
 'Regrob',
 'Cynfas',
 'StrategyCo.Global',
 'Narsipur Chemicals Private Limited',
 'Talhive',
 'UniHyr',
 'RavGins International Private Limited (Wobb.ai)',
 'Zolve',
 'Apt Medical Systems Private Limited',
 'CloudGarage',
 'PeakMind',
 'Cafe Tatva Ventures LLP',
 'Bambinos.Live',
 'Open Door Education']

In [88]:
len(job_titles)

40

In [89]:
len(companies)

40

In [90]:
CTC=soup.find_all('div',class_='internship_other_details_container')
salary=[]
for i in CTC:
    salary.append(i.text.replace('\n','').strip())
salary

["Start date                            Starts\xa0Immediately                        CTC  3.3 - 4.5 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  4 - 7 LPA                                                    Apply By26 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  4 - 5 LPA                                                    Apply By26 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  5 LPA                                                    Apply By26 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    Apply By26 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 3.2 LPA                                                    Apply By26 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    Apply By26 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 4 LPA                                                    Apply By26 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3.2 - 4.2 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  5 - 7 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 3.05 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3.5 - 7.5 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3.5 - 7.5 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 6 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 3.6 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 7 LPA                                                    Apply By23 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    Apply By23 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  4.5 - 6 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3.6 - 5.4 LPA                                                    Apply By23 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    Apply By23 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 4.8 LPA                                                    Apply By22 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 8 LPA                                                    Apply By25 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3.8 - 4.5 LPA                                                    Apply By22 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    Apply By22 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 3.5 LPA                                                    Apply By22 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 3.1 LPA                                                    Apply By22 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    Apply By22 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  7 - 12 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  5 - 7 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  5 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 4 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 8 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  6 - 8 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 5.5 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  3 - 3.1 LPA                                                    Apply By21 Aug' 21",
 "Start date                            Starts\xa0Immediately                        CTC  6 - 10 LPA                                                    Apply By19 Aug' 21"]

In [91]:
len(salary)

40

In [121]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Titles']=job_titles
jobs['Company']=companies
jobs['CTC']=salary

In [122]:
jobs

,Titles,Company,CTC
0,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,Start date Starts I...
1,Business Development Executive,Padhhigh,Start date Starts I...
2,MERN Stack Developer,Snippt,Start date Starts I...
3,Conversion Rate Optimization Analyst,DataVinci Private Limited,Start date Starts I...
4,Client Service Executive,Red Tree Design Studio Private Limited,Start date Starts I...
5,Sales Development Representative,HelloAR,Start date Starts I...
6,Corporate Sales Associate,Best Roadways Limited,Start date Starts I...
7,International Business Development Executive,Advids,Start date Starts I...
8,Product Marketer,Habitate Technologies Private Limited,Start date Starts I...
9,Customer Support Associates,Recruit CRM,Start date Starts I...
10,Content & Customer Care Executive,Revo International LLP,Start date Starts I...
11,Django Developer,Startxlabs Technologies Private Limited,Start date Starts I...
12,Reactjs Developer,Startxlabs Technologies Private Limited,Start date Starts I...
13,Web Development Trainee,Softsensor.ai,Start date Starts I...
14,Business Development Executive,Verzeo,Start date Starts I...
15,Cybersecurity Compliance Officer,S3 Infosoft,Start date Starts I...
16,MERN Stack Developer,Binary Numbers,Start date Starts I...
17,Senior Copywriter,Ranksoldier International Private Limited,Start date Starts I...
18,Corporate Sales Associate,MiM-Essay,Start date Starts I...
19,Digital Marketing Associate,BubbleNut Wash,Start date Starts I...
20,Social Media Marketing Executive,Erikka India,Start date Starts I...
21,Business Development Executive,Cosmic Micro Systems Private Limited,Start date Starts I...
22,Operations Manager,Kumi Labs,Start date Starts I...
23,Lead Counselor,HOSS - House Of Soft Skills,Start date Starts I...
24,Angular.js Developer,Systaldyn Consultancy Private Limited,Start date Starts I...
25,Digital Marketing Specialist,Sahadya Consultants,Start date Starts I...
26,Franchise Manager - Sales (Assistant Manager ),Regrob,Start date Starts I...
27,Graphic Designer,Cynfas,Start date Starts I...
28,Project Associate,StrategyCo.Global,Start date Starts I...
29,Business Development Manager,Narsipur Chemicals Private Limited,Start date Starts I...
30,Associate Recruiter,Talhive,Start date Starts I...
31,Inside Sales Specialist,UniHyr,Start date Starts I...
32,QA Tester,RavGins International Private Limited (Wobb.ai),Start date Starts I...
33,Social Media Marketing Specialist,Zolve,Start date Starts I...
34,Sales Executive,Apt Medical Systems Private Limited,Start date Starts I...
35,Data & BI Consultant,CloudGarage,Start date Starts I...
36,Full Stack Developer,PeakMind,Start date Starts I...
37,Business Development Executive,Cafe Tatva Ventures LLP,Start date Starts I...
38,Learning Counselor - Sales,Bambinos.Live,Start date Starts I...
39,Program Impact Incharge (Academics),Open Door Education,Start date Starts I...

# Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [39]:
from bs4 import BeautifulSoup
import requests

weather=requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YQETMr0zaM9')
soup=BeautifulSoup(weather.content)
Period=soup.find_all('p',class_='period-name')
period=[]
for i in Period:
    period.append(i.text.replace('\n',''))
period

['Overnight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight']

In [40]:
Short_Description=soup.find_all('p',class_='short-desc')
description=[]
for i in Short_Description:
    description.append(i.text.replace('\n',''))
description

['Mostly Cloudy',
 'Partly Sunnythen MostlySunny andBreezy',
 'Mostly Cloudyand Breezythen MostlyCloudy',
 'Partly Sunnythen MostlySunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Mostly Sunnythen Sunnyand Breezy',
 'Mostly Cloudy',
 'Partly Sunny',
 'Mostly Cloudy']

In [48]:
import pandas as pd
weather=pd.DataFrame({})
weather['Period']=period
weather['Short_Description']=description

In [49]:
weather

           Period                         Short_Description
0       Overnight                             Mostly Cloudy
1       Wednesday    Partly Sunnythen MostlySunny andBreezy
2  WednesdayNight  Mostly Cloudyand Breezythen MostlyCloudy
3        Thursday    Partly Sunnythen MostlySunny andBreezy
4   ThursdayNight  Partly Cloudyand Breezythen MostlyCloudy
5          Friday          Mostly Sunnythen Sunnyand Breezy
6     FridayNight                             Mostly Cloudy
7        Saturday                              Partly Sunny
8   SaturdayNight                             Mostly Cloudy